.mainpage .cont-main, .mainpage .box-sm-aside {
  background-color: #4fb2b6;
}
.mainpage .cont-aside, .mainpage .box-sm-main {
  background-color: #0b878b;
}
.mainpage .nav-page {
  margin-top: 2em;
}
.mainpage .nav-page a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Urbanist";
  font-size: 1.5em;
  color: white;
  justify-content: space-evenly;
  margin-left: 2em;
}
.mainpage .nav-page a:hover {
  color: #7bc588;
}
.mainpage .intro-txt {
  width: 75%;
}
.mainpage h1 {
  margin-bottom: 0.25;
}
.mainpage .help {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin-left: 3.5em;
  text-transform: uppercase;
  color: black;
}
.mainpage .help .img a {
  text-align: center;
  text-decoration: none;
  color: white;
}
.mainpage .img:hover a {
  transform: scale(1.5);
  color: #7bc588;
}
.mainpage .img {
  display: flex;
  justify-content: space-evenly;
  margin-left: 1em;
}
.mainpage .help img {
  width: 125px;
  height: 200px;
  object-fit: cover;
  border-radius: 1em;
  margin: 0;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.container-main {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
}

.cont-main {
  width: 70%;
  height: 100vh;
  background-color: #0b878b;
}

.cont-aside {
  width: 30%;
  height: 100vh;
  background-color: #4fb2b6;
}

.box-small {
  width: 80%;
  height: 80vh;
  display: flex;
  box-shadow: 0rem 0rem 0.8rem black;
  margin: 0 auto;
  margin-top: 5.5em;
  z-index: 10;
  border-radius: 1em;
  position: relative;
}

.box-sm-main {
  width: 75%;
  background-color: #4fb2b6;
  display: flex;
  flex-direction: column;
  z-index: 1;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
}

.burger {
  width: 35px;
  height: 5px;
  background-color: white;
  margin-bottom: 6px;
  margin-left: -0.35em;
}

.nav-burger {
  z-index: 7;
  width: 35px;
  height: 35px;
  padding-left: 6px;
  padding-top: 6px;
  margin-top: 2em;
  margin-left: 2em;
}
.nav-burger:hover {
  background-color: #7bc588;
}

.sub-txt {
  font-family: "Urbanist";
  font-weight: bold;
  color: #7bc588;
  text-transform: uppercase;
  font-size: 10em;
  z-index: 1;
  margin-top: 0.75em;
  margin-left: 0.25em;
}

.intro-txt {
  width: 35vw;
  color: white;
  font-family: "Lato";
  margin-left: 3em;
}

h1 {
  color: white;
  font-family: "Urbanist";
  text-transform: uppercase;
  margin-bottom: 0.25em;
}

.box-sm-aside {
  position: relative;
  width: 25%;
  background-color: #0b878b;
  border-top-right-radius: 1em;
  border-bottom-right-radius: 1em;
}

.fa-chevron-right {
  font-size: 2em;
  color: white;
}

.box-sm-aside a {
  width: 50px;
  height: 70px;
  display: block;
  position: absolute;
  right: 6px;
  top: 50%;
  z-index: 10;
  color: black;
}

a:hover {
  color: #7bc588;
}

.lighthouse {
  display: flex;
  flex-direction: column-reverse;
  margin-top: 2em;
}

img {
  z-index: 8;
  width: 60%;
  height: 70vh;
  object-fit: cover;
  flex-grow: 0;
  margin-left: 2.5em;
}

.wifi-symbol {
  z-index: 9;
  color: #7bc588;
  margin-left: 1.75em;
  margin-top: 2.5em;
  overflow: hidden;
  display: inline-block;
  position: relative;
  width: 200px;
  height: 95px;
}

.wifi-symbol > * {
  box-sizing: border-box;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateY(50%) translateX(-50%);
  border-color: var(--color);
  border-style: solid;
  border-width: 0.8em;
  border-radius: 100%;
  opacity: 0;
  animation: expansion 3s infinite;
}

.wifi-symbol > :nth-child(1) {
  width: 100%;
  height: 200%;
  animation-delay: 800ms;
}

.wifi-symbol > :nth-child(2) {
  width: 72.5%;
  height: 145%;
  animation-delay: 400ms;
}

.wifi-symbol > :nth-child(3) {
  width: 45%;
  height: 90%;
}

.wifi-symbol > :nth-child(4) {
  width: 10%;
  height: 20%;
  opacity: 1;
  background-color: var(--color);
  animation: none;
}

@keyframes expansion {
  0% {
    opacity: 0;
  }
  15% {
    opacity: var(--opacity);
  }
}

/*# sourceMappingURL=main.css.map */
