
@use "variables";

.mainpage {
    .cont-main, .box-sm-aside {
        background-color: variables.$color5;
    }
    
    .cont-aside, .box-sm-main {
        background-color: variables.$color3;
    }
    
    .nav-page{
        margin-top: 2em;
    }
    
    .nav-page a {
        text-decoration: none;
        text-transform: uppercase;
        font-family: variables.$font-id;
       
        font-size: 1.5em;
        color: variables.$color4;
        justify-content: space-evenly;
        margin-left: 2em;  
        &:hover {
            color: variables.$color6;
            
        }
    }
    .intro-txt {
        width: 75%;
    }
    
    h1 {
        margin-bottom: 0.25;
    }
    
    .help {
        width: 75%;
        display: flex;
        justify-content: space-evenly;
        margin-left: 3.5em;
        text-transform: uppercase;
        color: variables.$color1;
    }
    
    .help .img a {
        text-align: center;
        text-decoration: none;
        color: variables.$color4;
    }
    
    .img:hover a{
        transform: scale(1.5);
        color: variables.$color6;
    }
    
    .img {
        display: flex;
        justify-content: space-evenly;
        margin-left:1em;
    
    }
    
    .help img {
        width: 125px;
        height: 200px;
        object-fit: cover;
        border-radius: 1em;
        margin: 0;
        text-align: center;
    }
}

